/**  
 * Styling ProgressItem (organizations).
 */

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: rgba(74, 20, 140, 1);
  color: rgba(255, 255, 255, .85);
  padding: 1em;
}

.purple {
  background-color: rgba(74, 20, 140, 1);
}

.item {
  flex-grow: 1;
}

.title {
  flex-grow: 2;
  align-self: flex-end;
  font-size: 2em;
  margin-bottom: 8px;
}

.app-title {
  flex-grow: 1;
  text-align: right;
  font-size: 2em;
  margin-bottom: 8px;  
}

.value {
  font-size: 3em;
  color: rgba(255, 255, 255, .95);
  font-weight: 600;
}

.value-label {
  text-transform: capitalize;
}

/**
 * CSS Transitions - React animations.
 */
 
.app-load-appear {
  opacity: 0.01;
}

.app-load-appear.app-load-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}