/**  
 * Styling ProgressItem (organizations).
 */

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: rgba(74, 20, 140, 1);
  color: rgba(255, 255, 255, .85);
  padding: 1em;
}

.purple {
  background-color: rgba(74, 20, 140, 1);
}

.white {
  background-color: #FFFFFF;
}

.item {
  overflow: hidden;
  flex-grow: 1;
  flex-basis: 66%;
  text-align: center;
}

.spacer {
  flex-grow: 1;
}

.title {
  flex-grow: 2;
  align-self: flex-end;
  font-size: 2em;
  margin-bottom: 8px;
  flex-basis: 33%;
  min-width: 33%;
}

.app-title {
  flex-grow: 1;
  text-align: right;
  font-size: 2em;
  margin-bottom: 2em;  
}

.value {
  font-size: 3em;
  color: rgba(255, 255, 255, .95);
  font-weight: 600;
  margin-bottom: 0;
}

.value-label {
  text-transform: capitalize;
  margin-top: 0;
}

.metric-percent {
  font-size:  60%;
  vertical-align: top;
}

button {
  box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
  background: transparent;
  border: none;
  border-radius: 3px;
  margin: 1em;
  padding: 1em;
  cursor: pointer;
  color: #E91E63;
  min-width: 10em;
  text-transform: uppercase;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  font-weight: 600;
}

button span {
  padding: 0 .5em;
  vertical-align: middle;
}

button:active, button:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

button:disabled {
  color: rgba(0, 0, 0, 0.5);
  cursor: default;
  background-color: rgba(0, 0, 0, 0.08);
  box-shadow: none;
}

button:disabled svg {
  fill: rgba(0, 0, 0, 0.4);
}

/**
 * CSS Transitions - React animations.
 */
 
.app-load-appear {
  opacity: 0.01;
}

.app-load-appear.app-load-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}